* {
  box-sizing: border-box;
}


	.content {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: [col-1] 100%; 
	width: 800px;
	height:550px;
	margin: auto;
	padding: 20px;
	  box-shadow: 0 6px 20px 0 grey;	
			
}


.titre {
	
	
	color: black;
}

