* {
  box-sizing: border-box;
}

.content {
    display: grid;
	grid-template-columns: [col-1] 100%; 
	width: 800px;
	height:300px;
	margin: auto;
	padding: 20px;
	
     
}

.commande {
  
	display: grid;
	 grid-template-columns: 1fr 1fr 1fr;
	  grid-template-columns: 1fr 1fr 1fr;
	
	 grid-gap: 20px;
	 padding: 20px;
	 box-shadow: 0 6px 20px 0 grey;	
	  
}
    
    
.adresses  {
	
	grid-column: 2 / 3;
	line-height: 1.6;
	align-self: space-between;
}

 .mdp {
	
	grid-column: 3 / 3;
	text-align: end;
align-content: center;
	
}

.test {
	
	grid-column: 1 / 2;
	
}

.buttons {

grid-column: 2 / 5;
text-align: end;
align-content: center;

}

.content > ul {
	padding-left: 2px;
}

.recapCommande {
	 display: grid;
	 
	  font-weight: bold;
	
}

.gridProd{
	 display: grid;
	
	  font-weight: bold;
	
}






#submit {
	background-color: purple;
	}

#back {
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid grey;
    padding: 6px 12px;
    font-size: 14px;
    color: white;
    background-color: grey;
    line-height: 1.42857143;
    border-radius: 4px;
	
}



a {
color: white;
}

a:link {
color: white;
}
a:visited {
color: white;
}
a:hover {
color: white;
}



@media only screen and (max-width: 800px) {
    .grid {
        grid-template-columns: [col-1] 100% [col-1-end];
        grid-template-rows: [row-1] auto [row-2] 350px [row-3] auto [row-4] auto [row-4-end];
        width: 90%;
    }
    .grid-area-1 {
        grid-column: col-1;
        grid-row: row-1;
    }
    
    .grid-area-2 {
        grid-column: col-1 ;
        grid-row: row-3;
    }
    .grid-area-3 {
        grid-column: col-1 ;
        grid-row: row-2;
    }
    .gridarea-4 {
        grid-column: col-1;
        grid-row: row-4;
    }
}