* {
  box-sizing: border-box;
}

.contacts {
    display: grid;
    grid-gap: 15px; 
    grid-template-columns: [col-1] 100% ;
    margin: auto; 
    width: 50% ;
    height: auto;
   
}


.contact {
    font-family: LATO ; 
    color: black;
    border: 2px solid grey;
    padding: 10px 10px;
     display: grid;
    grid-gap: 15px;
     height:250px;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
       align-items: center;
    
}



.map {
	grid-column: 2 / 2 ;
        grid-row: 1; 
      
} 


 .coordonnees {
	grid-column: 1 / 2 ;  
	  grid-row: 1;
	  margin:50px;
        text-align: center;
        font-size: 25px;
        
}





@media only screen and (max-width: 800px) {
    .grid {
        grid-template-columns: [col-1] 100% [col-1-end];
        grid-template-rows: [row-1] auto [row-2] 350px [row-3] auto [row-4] auto [row-4-end];
        width: 90%;
    }
    .grid-area-1 {
        grid-column: col-1;
        grid-row: row-1;
    }
    
    .grid-area-2 {
        grid-column: col-1 ;
        grid-row: row-3;
    }
    .grid-area-3 {
        grid-column: col-1 ;
        grid-row: row-2;
    }
    .gridarea-4 {
        grid-column: col-1;
        grid-row: row-4;
    }
}