* {
	box-sizing: border-box;
}



 .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: black;
    font-size: 2rem;
    font-weight: 400;
 text-align: center;
 

 }
 
 .texte{

 color: white;
 }
 
 #paypal {
padding: 15px;
 }
 
 #card {
 padding: 2px;
 }
