



.navbar-brand{
	font:60 60px/1 'Lobster Two', Helvetica, sans-serif;	
}

#headerFont{
	color: white;
	
}

#brandname{
	 color: white;
}

.navbar-brand{
	margin-bottom: 50px;	
}

.navbar-brand{
	 color: white;
}

#headerFont:hover{
	 background-color: grey; 	
}

.nbItem {
	font-size: 12px;
	text-align: center;
}

.basket {
	padding-bottom: 2px;
}
