
* {
  box-sizing: border-box;
}

.wrapper::after {
  content: "";
  clear: both;
  display: table;
} 

.wrapper {
  display: grid;
  grid-template-columns: [col-1] 600px [col-2]400px;
   grid-template-rows: [row-1] 100% ;   
  column-gap : 50px;
  align-items: center;
  justify-content: center;
  margin: auto;
    width: auto ;
    height: auto;   
      margin:30px;  
}

.about {
	 margin:30px;
}

.grid-area-1 {
        grid-column: col-1;
        grid-row: row-1;    
    }

.grid-area-2 {
        grid-column: col-2;
        grid-row: row-1;
    }


.about >.description {
	 text-align: center; 
	font-size: 30px;
	font-style: italic;
}




 .*{
            margin-bottom 50px;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height:100%;
            
            
        }
         .img-responsive {
        height: 800px;
   width: 500px;
            max-width: 100%;
            max-height: 100vh;
            margin:30px;
        
} 
 