* {
  box-sizing: border-box;
}

.content-form {
	
	display: grid;
	
	width: 300px;
	height: 300px;
	margin: auto;
	padding: 20px;
	
}

#submit {
	background-color: purple;
	}



@media only screen and (max-width: 800px) {
    .grid {
        grid-template-columns: [col-1] 100% [col-1-end];
        grid-template-rows: [row-1] auto [row-2] 350px [row-3] auto [row-4] auto [row-4-end];
        width: 90%;
    }
    .grid-area-1 {
        grid-column: col-1;
        grid-row: row-1;
    }
    
    .grid-area-2 {
        grid-column: col-1 ;
        grid-row: row-3;
    }
    .grid-area-3 {
        grid-column: col-1 ;
        grid-row: row-2;
    }
    .gridarea-4 {
        grid-column: col-1;
        grid-row: row-4;
    }
}