 * {
  box-sizing: border-box;
}

.panier {
    display: grid;
    grid-gap: 5px; 
    grid-template-columns: [col-1] 100% ;
    grid-template-rows: [col-1] 100% ;
    margin: auto; 
    width: 100% ;
    height: 100px; 
      text-align: center; 
     
}

a:link {
color: black;
	}

.userPanier {
    font-family: LATO ;
    color: black;
    padding: 30px 30px;
     display: grid;
    grid-gap: 30px;
     height:100px;
     width: 50%;  
     margin: auto;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
      justify-items: center;
    align-items: center; 
    box-shadow: 0 6px 20px 0 grey;
    
}


 .ajoutQuantitePanier {
	width: 50px;
	
}

.trash .tooltiptext {
  visibility: hidden;
  width: 70px;
 
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
} 

.trash:hover .tooltiptext {
	 
  visibility: visible;
}

.trash:hover {
 cursor: pointer;
}

.trash:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.trash {
	color: red;
}

button {
	border-radius: 5px;
	border: 1px solid grey;
	
}

p {
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	
}

h3 {
	text-align: centered;
}


	
