* {
  box-sizing: border-box;
}

.products {
    display: grid;
    grid-gap: 15px; 
    grid-template-columns: [col-1] 100% ;
    grid-template-rows: [col-1] 100% ;
    margin: auto; 
    width: 100% ;
    height: 300px; 
     text-align: center;  
}

.product {
    font-family: LATO ;
    color: black;
    padding: 30px 30px;
     display: grid;
    grid-gap: 30px;
     height: 300px;
     width: 50%;
      margin:auto;
      margin-top: 10px;
      margin-bottom: 10px;
     grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 6px 20px 0 grey;
      justify-items: center;
    align-items: center; 
    
}
 .txt > .nom {
 font-size: 18px;
 font-weight: bold;
 }
 
 .txt > .description{
 font-size: 18px;
 font-style: italic;
 }
 
 .px > .prix {
 font-size: 18px;
 }

.basket:hover {
    cursor: pointer;
}

.basket:active {
 
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}


.product > .image {
    white-space: nowrap;
    text-align: center;
	width: 100%;
	height: 250px;
}

.product > .image > .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.product > .image > img {
	border-radius: 5px;
    vertical-align: middle;
	max-width: 100%;
	max-height: 225px;
}

.ajoutQuantitePanier {
	width: 50px;
	
}

#basket {
  position: relative;
  display: inline-block;
 
}

#basket .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  
  position: absolute;
  z-index: 1;
}


#basket:hover .tooltiptext {
  visibility: visible;
}



