* {
	box-sizing: border-box;
}

.content {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: [col-1] 100%; 
	margin : auto;
	width: 50%;
	height: auto;
	margin: auto;
	 box-shadow: 0 6px 20px 0 grey;
	 padding-bottom: 20px;
}

.resa {
	font-family: LATO;
	color: black;
	padding: 30px 30px;
	display: grid;
	grid-gap: 15px;
	height: 20%;
	grid-template-columns: 1fr 1fr ;
	grid-template-columns: 1fr 1fr ;
	grid-template-columns: 1fr 1fr ;
	justify-items: center;
	align-items: center;
	text-align: center;
	font-size: 20px;
	
	
}

.resa>.nombreDePersonnes {
	grid-column: 0/2;
	grid-row: 1;
}

.resa>.datepickr {
	grid-column: 0/3;
	grid-row: 2;
	width: 220px;
}
#datepicker {
	width: 170px;
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a {
color: white;
}

a:link {
color: white;
}
a:visited {
color: white;
}
a:hover {
color: white;
}
.resa>.timepickr {
	grid-column: 0/3;
	grid-row: 3;
}

#time {
	width: 220px;
}

.resa > .nom{
	grid-column: 2 / 2;
	grid-row: 1;
	width: 220px;
}

.resa > .prenom{
	grid-column: 2 / 2;
	grid-row: 2;
	width: 220px;
}
.resa > .tel{
	grid-column: 2 / 2;
	grid-row: 3;
	width: 220px;
}

.text-center {
	grid-row: 2;
	}
	
	#submit {
	background-color: purple;
	}
	
	
	#reset {
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid grey;
    padding: 6px 12px;
    font-size: 14px;
    color: white;
    background-color: grey;
    line-height: 1.42857143;
    border-radius: 4px;
  
    
	}

@media screen and (max-width: 1400px) {
	.resa{
		grid-template-columns:  1fr 1fr;
	}
}

@media screen and (max-width: 900px) {
	.resa {
		grid-template-columns:  1fr 1fr;
	}
}


@media screen and (max-width: 600px) {
	.resa{
		grid-template-columns:  1fr;
	}
}