


* {
  box-sizing: border-box;
}

.content-form {
	
	display: grid;
	grid-template-columns: [col-1] 100%; 
	width: 800px;
	height:300px;
	margin: auto;
	padding: 20px;
	
	
	
}

.grid {
	display: grid;
	 grid-template-columns: 1fr 1fr 1fr;
	 grid-gap: 20px;
	 padding: 20px;
	 box-shadow: 0 6px 20px 0 grey;	
}

.grid > .nomsignup {
	
	grid-column: 0 / 3;
	
}

.grid > .adressesignup {
	
	grid-column: 1 / 4;
}



#submit {
	background-color: purple;
	}


 a {
color: black;
}

a:link {
color: black;
}
a:visited {
color: black;
}
a:hover {
color: black;
}
 






@media only screen and (max-width: 800px) {
    .grid {
        grid-template-columns: [col-1] 100% [col-1-end];
        grid-template-rows: [row-1] auto [row-2] 350px [row-3] auto [row-4] auto [row-4-end];
        width: 90%;
    }
    .grid-area-1 {
        grid-column: col-1;
        grid-row: row-1;
    }
    
    .grid-area-2 {
        grid-column: col-1 ;
        grid-row: row-3;
    }
    .grid-area-3 {
        grid-column: col-1 ;
        grid-row: row-2;
    }
    .gridarea-4 {
        grid-column: col-1;
        grid-row: row-4;
    }
}